<!DOCTYPE html>
<html>
<head>
<title>profile</title>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
body{
background:url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.card{
margin: 20px auto;
}
#button {
padding:10px;
}
#b1{
margin-right: 60px;
}

</style>
</head>
<body>
<div class="card border-dark mb-3" style="max-width: 22rem;">
  <img src="https://pbs.twimg.com/media/Dxi-F9UUUAEj0y0?format=jpg&name=900x900" class="card-img-top" alt="profile image" height="270px">
  <div class="card-body">
    <h5 class="card-title">Pushpalatha Shivarathri</h5>
    <p class="card-text">I'm Pushpalatha Shivarathri.I'm completed my Bachelor of Technology(B.Tech) Under Jawahar Lal Nehru Technological University Hyderabad in the Strem of Compuetr Science with an overall CGPA of 6.9 . </p>
    <div id="button">
    <a href="#" id="b1" class="btn btn-success">Message</a>
    <a href="#" id="b2" class="btn btn-danger">Follow</a>
</div>
  </div>
</div>

</body>
</html>